@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@keyframes efectLineButton{
    0%{
        background-image: linear-gradient(to left,rgba(0, 0, 0, 0) ,100%,rgb(71, 60, 173));
    }
    10%{
        background-image: linear-gradient(to left,rgba(0, 0, 0, 0) ,80%,rgb(71, 60, 173));
        /* rder-left-color: linear-gradient(to left,rgb(52, 43, 104)10%,transparent); */
    }
    20%{
        /* border-left-color: linear-gradient(to left,rgb(52, 43, 104)30%,transparent); */
        background-image: linear-gradient(to left,rgba(0, 0, 0, 0) ,70%,rgb(71, 60, 173));
        
    }
    30%{
        /* border-left-color: linear-gradient(to left,rgb(52, 43, 104)50%,transparent); */
        background-image: linear-gradient(to left,rgba(0, 0, 0, 0) ,60%,rgb(71, 60, 173));
        box-shadow: 1px 1px 1px #beb9ee;
    }
    40%{
        /* border-left-color: linear-gradient(to left,rgb(52, 43, 104)70%,blue); */
        background-image: linear-gradient(to left,rgba(0, 0, 0, 0) ,50%,rgb(71, 60, 173));
        box-shadow: 3px 3px 3px #b9b3f0;
    }
    50%{
        background-image: linear-gradient(to left,rgba(0, 0, 0, 0) ,40%,rgb(71, 60, 173));
        box-shadow: 4px 4px 4px #b3acf0;
    }
    60%{
        background-image: linear-gradient(to left,rgba(0, 0, 0, 0) ,30%,rgb(71, 60, 173));
        box-shadow: 5px 5px 5px #9890e0;
    }
    70%{
        background-image: linear-gradient(to left,rgba(0, 0, 0, 0) ,20%,rgb(71, 60, 173));
        color: #ffffff;
        box-shadow: 6px 6px 6px #867ece;
    }
    80%{
        background-image: linear-gradient(to left,rgba(0, 0, 0, 0) ,10%,rgb(71, 60, 173));
        color: #ffffff;
        box-shadow: 7px 7px 7px #6b61c2;
    }
    90%{
        background-image: linear-gradient(to left,rgba(0, 0, 0, 0) ,0%,rgb(71, 60, 173));
        box-shadow: 9px 9px 9px #6960bd;
        color: #ffffff;

    }
    100%{
        background-color: #3b2b8b;
        color: #ffffff;
        box-shadow: 10px 10px 10px #5d53b8;
        
    } 
}

.container{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;   
}
a{
    color: rgb(84, 166, 233);
}
.title{
    width: 100%;
    height: 43px;
    background-color: transparent;
    text-align: center;
    font-size: 37px;
    margin-bottom: 53px;
    color: #3F3D56;
    font-weight: 700;
}
.title::first-letter{
    text-transform: capitalize;
}
label::first-letter{
    text-transform: capitalize;
}
span::first-letter{
    text-transform: capitalize;
}
.sub-title{
    color: #5A6256;
    text-align: center;
    margin-bottom: 22px;
}
.sub-title::first-letter{
    text-transform: capitalize;
}
.title--margin--top{
    margin-top: 68px;/*ações desesperadas merecem medidas desesperadas,nao dou mais margem contra o sentido q to indo,mas foi necessario kkkkkkk*/
}
.data{
    margin-bottom: 6px;
}
.data-box{
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 61px;
}
.data-box--margin{
    margin-bottom: 22px;
}
.data-wrapper--small{
    width: 50%;
}
.data-box-two{
    margin-bottom: 27px;
}
.data-wrapper{
    width: 515px;
    display: flex;
    flex-direction: column; 
}
.data-box--small{
    /* width: 50%; */
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.data-wrapper--width--country{
    width: 208px;
}
.data-wrapper--width--birth{
    width: 170px;
}
#data{
    height: 47px;
    outline: none;
    border: gray 1px solid;
}

.connect{
    width: 100%;
    height: 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}
.button-wrapper{
    width: 100%;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}
.button{
    width: 100%;
    height: 100%;
    background-color: #484c8804;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #484c88;
    font-weight: 700;
    text-transform: capitalize;
}
.button:hover{
    /* border: #ffffff 3px solid; */
    /* background-color:  #b3b1ce; */
    font-size: 20px;
    animation: efectLineButton 3s 1;
}
.register-link{
    width: 100%;
    height: 16px;
    text-align: center;
}
.check{
    border: 1px solid #3F3D56;
}
.check-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box{
    width: 396px;
    padding: 68px;
}
.transform-text{
    text-transform: capitalize;
}
.link-align{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {/* essa paradinha da bordinha do botao peguei na internet,nao entendi algumas coisas mas ta ai kkkkk*/
    display:block; 
    position:relative; 
    background:#ffffff;
}

.button::before, .button::after {
    content:""; 
    display:block; 
    box-sizing:border-box;
    position:absolute;
    z-index:5; 
    pointer-events: none; 
    width:0; 
    height:0; 
    opacity:0; 
    border:2px solid rgb(52, 34, 104)
}

.button::before {
    border-left:none; 
    border-bottom:none; 
    left:0; 
    top:0;
    transition:width .5s linear 1.5s, height .5s linear 1s, opacity .1s 2s 
}
.button::after  {
    border-top:none; 
    border-right:none; 
    right:0; 
    bottom:0;
    transition:width .5s linear .5s, height .5s linear, opacity .1s 1s 
}

.button:hover::before, .button:hover::after  {
     width:100%; 
     height:100%; 
     opacity:1 
}

.button:hover::before {
    transition:width .5s linear, height .5s linear .5s, opacity .1s 
}
.button:hover::after  {
     transition:width .5s linear 1s, height .5s linear 1.5s, opacity .1s 1s 
} 

.data-checked{
    border: 3px solid #00d346;
    color: #00d346;
}

.data-not-checked{
    border: 3px solid #f51414;
    color: #f51414;
}
